<div id="menubar">
  <ul class="menu">
    <li id="logo">
      <a><img alt="RHI-UF" src="assets/images/logo_tamiko_white.png"/></a>
    </li>
    <li id="acceuil">
      <a routerLink="/acceuil" [routerLinkActive]="['active']">Acceuil</a>
    </li>
    <li id="actualites">
      <a routerLink="actualites"  [routerLinkActive]="['active']">Actualités</a>
    </li>
    <li id="evenement">
      <a routerLink="evenements"  [routerLinkActive]="['active']">Evenements</a>
    </li>
    <li id="dashboard">
      <a routerLink="tableau-de-bord"  [routerLinkActive]="['active']">Dashboard</a>
    </li>
    <li id="membres">
      <a routerLink="membres"  [routerLinkActive]="['active']">Membres</a>
    </li>
  </ul>
  <ul class="menu">
    <li>
      <a [routerLink]="['/inscription']" [routerLinkActive]="['active']">Inscription</a>
    </li>
    <li>
      <a [routerLink]="['/connexion']"  [routerLinkActive]="['active']">Connexion</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>

