<div id="menubar">
  <ul class="menu">
    <li id="logo"><a><img alt="RHI-UF" src="../../favicon.ico"/></a></li>
    <li id="macceuil"><a routerLink="/">Acceuil</a></li>
    <li id="mactualites"><a routerLink="actualites">Actualités</a></li>
    <li id="mevenement"><a routerLink="evenements">Evenements</a></li>
    <li id="mdashboard"><a routerLink="dashboard">Dashboard</a></li>
    <li id="mmembres"><a routerLink="membres">Membres</a></li>
  </ul>
  <ul class="menu">
    <li><a routerLink="">Inscription</a></li>
    <li><a routerLink="">Connexion</a></li>
  </ul>
</div>
<router-outlet></router-outlet>

