#menubar{
  background-image: linear-gradient(white 5%, blue );
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: 0px 2px 10px blue;
  overflow: hidden;
}

.menu{
  display: flex;
  align-items: baseline;
}
.menu li{
  list-style-type: none;
  padding: 20px 10px;
}
.menu li a{
  text-decoration: none;
  color: white;
  font-size: larger;
  padding: 5px;
}

.menu li:not(#logo) :hover{
  border-bottom: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 1px 5px rgb(66, 78, 240);
}

@media  screen and (max-width: 500px) {
  .menu {
    flex-direction: column;
  }
  #menubar{
    justify-content: flex-start;
    flex-direction: column;
  }
}
#logo a img{
  width: 200px;
}

.active{
  font-weight: 700;
  border-bottom: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 1px 5px rgb(66, 78, 240);
}
