<ng-container *ngIf="data$ | async as result" id="data" [ngSwitch]="result.status">
    <ng-container *ngSwitchCase="status.LOADING">
      <p>... Loading</p>
    </ng-container>
    <ng-container *ngSwitchCase="status.ERROR">
      <p>{{result.msg}}</p>
    </ng-container>
    <ng-container *ngSwitchCase="status.LOADED">
      <div id="bio-container">
        <ng-container *ngFor="let item of result.dataBioState ">
          <app-bio-form [data]="item"></app-bio-form>
        </ng-container>
      </div>
    </ng-container>
</ng-container>
