/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
